
@{
    ViewBag.Title = "Index";
}

<h3>Lista de Veiculos</h3>
<div class="row mb-3">
    <div class="col-12">
    <a href="/veiculo/cadastro"
       class="btn btn btn-primary float-right"><i class="fas fa-plus"></i>Novo Veiculo</a>
    </div>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Categoria</th>
            <th>Modelo</th>
            <th>Preço</th>
            <th>Açao</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Codigo</th>
            <th>Categoria</th>
            <th>Modelo</th>
            <th>Preço</th>
            <th>Açao</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach(Model.Veiculo veiculo in ViewBag.Veiculos)
        {
        <tr>
            <td>@veiculo.Id</td>
            <td>@veiculo.Categoria.Nome</td>
            <td>@veiculo.Modelo</td>
            <td>@veiculo.Valor</td>
        </tr>

        }
        

    </tbody>
</table>

